{{define "body"}}
<div class="row pr-3">
    <div class="col-12 p-0 ">
        <div class="scroller card mb-4 col-sm-9 col-lg-12 table-wrapper ml-0 p-0 leftPadding-10">
            <div class="direction-r pr-3 card-body">
                <div class="fs-2 fw-semibold text-center">{{.Title}}</div>
                <hr>
                <div class="tab-content rounded-bottom">
                    <div class="tab-pane active preview overflow-auto" role="tabpanel" id="preview-746">
                        <table class="table table-striped border">
                            <thead>
                                <tr class="background-green text-white">
                                    <th>
                                        <div class="dsc f-weight250">Label</div>
                                    </th>
                                    <th class="f-weight250">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{range .Data}}
                                <tr data-id='{{.ID}}'>
                                    <td>{{.Label}}</td>
                                    <td>
                                        <a class="btn btn-sm btn-primary text-white"
                                            href="/endpoints/{{.ID}}/reconfig/download">
                                            <b> Download Reconfig</b>
                                        </a>
                                    </td>
                                </tr>
                                {{end}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}
{{define "scripts"}}
<script type="module" src='{{assetPath "app/endpoints.js"}}'></script>
{{end}}
