PRODUCT_TITLE=API Protector
SERVER_ADDRESS=0.0.0.0:8080
DATABASE_URI=root:@(:3306)/api_protector?charset=utf8&parseTime=True&loc=Local
DBMS_TYPE=mysql
COPYRIGHT_FOOTER_COMPANY= Cyber Security and Privacy Foundation 

CLI_BIN_PATH=/app/bin/
WORK_DIR=/app/data/
# The temp_uploads should be in the same device as the WORK_DIR(or docker gives invalid-cross)
TEMP_UPLOADS_DIR=/app/temp_uploads/

MIGRATIONS_PREFIX=db
LOG_LEVEL=info

# TLS Configuration
USE_TLS=true

#CERT_PATH=./certs/panel.crt
#KEY_PATH=./certs/panel.key
